<div class="nav">
  <div>
    <a class="nav__title" routerLink="/">Pinkgreen.</a>
  </div>
  <div class="search-term">
    <form (ngSubmit)="onSubmitForm()" #formDir="ngForm">
      <span class="p-input-icon-right">
        <i class="pi pi-search" style="color: black;"></i>
        <input type="text" pInputText [formControl]="searchTerm" />
      </span>
    </form>
  </div>

  <div class="desktop-buttons">
    <button pButton pRipple type="button" icon="pi pi-shopping-cart"
      class="p-button-rounded p-button-text p-button-plain" style="color: black;" (click)="toggleShoppingCartModal()"></button>

    <button pButton pRipple type="button" icon="pi pi-heart" class="p-button-rounded p-button-text p-button-plain"
      routerLink="/favorites" style="color: black;"></button>

    <button pButton pRipple type="button" icon="pi pi-user" class="p-button-rounded p-button-text p-button-plain"
      (click)="menu.toggle($event)" style="color: black;"></button>
  </div>

  <div class="mobile-button">
    <p-button (click)="sidebarVisible = true" icon="pi pi-bars"
      styleClass="p-button-secondary p-button-text"></p-button>
  </div>
</div>

<p-menu #menu [popup]="true" [model]="items"></p-menu>

<p-sidebar [(visible)]="sidebarVisible" [fullScreen]="true">
  <h3>Full Screen Sidebar</h3>
</p-sidebar>
