.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 32px;

  &__title {
    font-family: "STIX Two Text", serif;
    font-size: 22px;
  }

  .search-term {
    input {
      width: 448px;
    }
  }
  .mobile-button {
    display: none;
  }
}

@media(max-width: 767px) {
  .nav {
    padding: 16px;
    .search-term {
      display: none;
    }
    .desktop-buttons {
      display: none;
    }
    .mobile-button {
      display: block;
    }
  }
}
