<div class="nav">
  <div>
    <a class="nav__title" routerLink="/">Pinkgreen.</a>
  </div>
  <div>
    <form (ngSubmit)="onSubmitForm()" #formDir="ngForm">
      <span class="p-input-icon-right">
        <i class="pi pi-search"></i>
        <input type="text" pInputText [formControl]="searchTerm" />
      </span>
    </form>
  </div>

  <div>
    <button pButton pRipple type="button" icon="pi pi-heart" class="p-button-rounded p-button-text p-button-plain"
      routerLink="/favorites"></button>
    <button pButton pRipple type="button" icon="pi pi-user" class="p-button-rounded p-button-text p-button-plain"
      (click)="menu.toggle($event)"></button>
    <p-menu #menu [popup]="true" [model]="items"></p-menu>
  </div>
</div>