.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 32px;

  &__title {
    font-family: "STIX Two Text", serif;
    font-size: 22px;
  }

  input {
    width: 448px;
  }
}
