<div class="order-summary-wrapper">
  <div class="address-wrapper">
    <h2>Endereço</h2>
    <span>{{userName}}</span>
    <span>{{addressData.street}}, {{addressData.number}}, {{addressData.neighborhood}}, {{addressData.city}},
      {{addressData.state}}, {{addressData.zipCode}} - {{addressData.country }}</span>
  </div>
  <div class="payment-method-wrapper">
    <h2>Método de pagamento</h2>
    <span>{{paymentMethods['CREDIT_CARD']}}</span>
    <div class="total-price">
      <div>
        <h3>Sub-total</h3>
        <span>{{ skuData.price.listPrice | currency}}</span>
      </div>
      <div>
        <h3>Frete:</h3>
        <span>{{0 | currency}}</span>
      </div>
      <div>
        <h2> Total</h2>
        <span>{{skuData.price.listPrice + 0 | currency}}</span>
      </div>
    </div>
  </div>
  <div class="button-wrapper">
    <button pButton pRipple type="button" label="Voltar" class="p-button-raised p-button-text"
      (click)="clickBackButton()"></button>
    <button pButton pRipple type="button" label="Finalizar compra" class="p-button-raised"
      (click)="clickNextButton()"></button>
  </div>
</div>
