<div class="order-summary-wrapper">
  <div class="address-wrapper">
    <h2>Endereço</h2>
    <span>{{userName}}</span>
    <span>{{addressData.street}}, {{addressData.number}}, {{addressData.neighborhood}}, {{addressData.city}},
      {{addressData.state}}, {{transformStrToCep(addressData.zipcode)}} - {{addressData.country}}</span>
  </div>
  <div class="payment-method-wrapper">
    <h2>Método de pagamento</h2>
    <span>{{paymentMethods[this.paymentData.paymentMethod]}}</span>
    <div class="total-price">
      <div>
        <h3>Sub-total</h3>
      </div>
      <div class="products-price">
        <div *ngFor="let skuData of skuListData">
          <span>{{ skuData.name }}</span>
          <span>{{ skuData.price.listPrice * (skuData.quantity || 1) | currency}}</span>
        </div>
      </div>
      <div>
        <h3>Frete:</h3>
        <span>{{0 | currency}}</span>
      </div>
      <div>
        <h2> Total</h2>
        <span>{{totalPrice + 0 | currency}}</span>
      </div>
    </div>
  </div>
  <div class="button-wrapper">
    <button pButton pRipple type="button" label="Voltar" class="p-button-raised p-button-text"
      (click)="clickBackButton()"></button>
    <button pButton pRipple type="button" label="Finalizar compra" class="p-button-raised"
      (click)="clickNextButton()"></button>
  </div>
</div>
