<div *ngIf="!loading; else loadingComponent">
  <h1>Administrar catálogo</h1>

  <div style="display: flex; flex-direction: column; gap: 48px;">
    <div>
      <div class="header-wrapper">
        <h2>Marcas</h2>
        <p-button label="Criar nova marca" icon="pi pi-plus" iconPos="right" (click)="openBrandPage()"></p-button>
      </div>
      <p-table [value]="brands" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 20%;">Nome da marca</th>
            <th style="width: 20%;">Imagem</th>
            <th style="width: 20%;"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-brand>
          <tr>
            <td>{{ brand.name }}</td>
            <td><img [src]="brand.brandImage" width="100px"></td>
            <td style="text-align: center;">
              <button pButton pRipple type="button" label="Editar" class="p-button-text"
                (click)="openBrandPage(brand.id)"></button>
              <button pButton pRipple type="button" label="Deletar" class="p-button-danger p-button-text"
                (click)="deleteBrandById(brand.id)"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between"></div>
        </ng-template>
      </p-table>
    </div>

    <div>
      <div class="header-wrapper">
        <h2>Categorias</h2>
        <p-button label="Criar nova categoria" icon="pi pi-plus" iconPos="right"
          (click)="openCategoryPage()"></p-button>
      </div>
      <p-table [value]="categories" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 20%;">Nome da categoria</th>
            <th style="width: 20%;">Imagem</th>
            <th style="width: 20%;"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-category>
          <tr>
            <td>{{ category.name }}</td>
            <td><img [src]="category.image" width="100px"></td>
            <td style="text-align: center;">
              <button pButton pRipple type="button" label="Editar" class="p-button-text"
                (click)="openCategoryPage(category.id)"></button>
              <button pButton pRipple type="button" label="Deletar" class="p-button-danger p-button-text"
                (click)="deleteCategoryById(category.id)"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between"></div>
        </ng-template>
      </p-table>
    </div>

    <div>
      <div class="header-wrapper">
        <h2>Produtos</h2>
        <p-button label="Criar novo produto" icon="pi pi-plus" iconPos="right" (click)="openProductPage()"></p-button>
      </div>
      <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th style="width:20%">Nome do produto</th>
            <th style="width:15%">Marca</th>
            <th style="width:20%">Categoria</th>
            <th style="width:15%">Preço</th>
            <th>Produto ativo?</th>
            <th style="width:20%"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-products>
          <tr>
            <td>{{ products.name }}</td>
            <td>{{ products.brand.name }}</td>
            <td>
              <div *ngFor="let category of products.categories">
                <span>
                  {{ category.name }}
                </span>
              </div>
            </td>
            <td>{{ products.price | currency }}</td>
            <td>{{ products.active ? 'Sim' : 'Não' }}</td>
            <td style="text-align: center;">
              <button pButton pRipple type="button" label="Editar" class="p-button-text"
                (click)="openProductPage(products.id)"></button>
              <button pButton pRipple type="button" label="Deletar" class="p-button-danger p-button-text"
                (click)="deleteProductById(products.id)"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between"></div>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<ng-template #loadingComponent>
  <app-loading></app-loading>
</ng-template>

<p-confirmDialog #cd>
  <ng-template pTemplate="footer">
    <button pButton pRipple type="button" label="Não" class="p-button-raised p-button-text"
      (click)="cd.reject()"></button>
    <button pButton pRipple type="button" label="Sim" class="p-button-raised" (click)="cd.accept()"></button>
  </ng-template>
</p-confirmDialog>