<div class="product">
  <div *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
  </div>
  <div *ngIf="!loading">
    <div class="product-presentation">
      <div>
        <ngx-slick-carousel class="carousel carousel-product-images" [config]="imageSlideConfig">
          <div ngxSlickItem *ngFor="let images of SkuData.urlImages" class="slide card-container">
            <img [src]="images" />
          </div>
        </ngx-slick-carousel>
      </div>
      <div>
        <div>
          <div class="product-rating">
            <p-rating [(ngModel)]="rating.average" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>
            {{ rating.average }} ({{ rating.count }})
          </div>

          <h2 class="{styles.name}">{{ SkuData.name }}</h2>
          <p class="{styles.price}">
            {{ SkuData.price.listPrice | currency }} + frete grátis
          </p>
        </div>

        <div class="buttons-wrapper">
          <button pButton pRipple type="button" [label]="!blockPurchase ? 'Comprar agora' : 'Indisponivel'"
            class="p-button-raised p-button-success product-buy-button" [disabled]="blockPurchase"
            (click)="clickBuyButton()"></button>
          <button pButton pRipple type="button" [icon]="iconValue" (click)="clickFavoriteButton()"
            class="p-button-rounded p-button-secondary p-button-text" [disabled]="blockPurchase"></button>
        </div>
        <div *ngIf="!blockPurchase">
          <div *ngIf="SkuData.stockQuantity >= 6; else lowStock">
            {{ SkuData.stockQuantity }} unidades disponiveis
          </div>
          <ng-template #lowStock>{{ SkuData.stockQuantity }} unidades restantes</ng-template>
        </div>
      </div>
    </div>
    <div *ngIf="otherSkusList && otherSkusList?.length > 0">
      <h2>Relacionados.</h2>
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="otherProductSlideConfig">
        <div ngxSlickItem *ngFor="let product of otherSkusList" class="card-container">
          <div [routerLink]="['/', 'product', product.product.id]" [queryParams]="{ skuCode: product.skuCode }">
            <p-card class="other-products">
              <img [src]="product.mainImageUrl" />
              <div>
                <h2>{{ product.name }}</h2>
                <p>{{ product.price.listPrice | currency }}</p>
              </div>
            </p-card>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
    <div *ngIf="SkuData?.skuAttributes && SkuData.skuAttributes.length > 0">
      <h2>Ficha técnica</h2>
      <p-table [value]="SkuData.skuAttributes" styleClass="p-datatable-sm p-datatable-striped">
        <ng-template pTemplate="body" let-skuAttribute>
          <tr>
            <td>{{ skuAttribute.label }}</td>
            <td>{{ skuAttribute.value }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div *ngIf="SkuData.skuCode">
      <h2>Dimensões</h2>
      <p-table [value]="[
          { label: 'Altura', value: SkuData.height },
          { label: 'Largura', value: SkuData.width },
          { label: 'Comprimento', value: SkuData.length },
          { label: 'Peso', value: SkuData.weight }
        ]" styleClass="p-datatable-sm p-datatable-striped">
        <ng-template pTemplate="body" let-dimensions>
          <tr>
            <td>{{ dimensions.label }}</td>
            <td>{{ dimensions.value }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div>
      <h2>Avaliações</h2>
      <div>
        <div *ngIf="rating && rating.count > 0; else noRatings">
          <p>Avaliação média</p>
          <p-rating [(ngModel)]="rating.average" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>
          {{ rating.average }}
        </div>
        <p>{{ rating.count }} avaliações</p>
        <div *ngFor="let ratingItem of rating.data">
          <div>
            <p-rating [(ngModel)]="ratingItem.stars" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>
            {{ ratingItem.stars }}
          </div>
          <div>
            <div>
              <span>{{ ratingItem.title }}</span>&nbsp;
              <span>{{ ratingItem.customer.name }}</span>
            </div>
            <span>{{ ratingItem.evaluation }}</span>
          </div>
        </div>
      </div>
      <ng-template #noRatings>
        <span>Sem avaliações :(</span>
      </ng-template>
    </div>
  </div>
  <p-toast position="bottom-left"></p-toast>
</div>
