form {
  .bank-slip-wrapper {
    width: 580px;
    display: flex;
    align-items: center;
    background-color: #ebeaea;
    padding: 16px;
    justify-content: space-around;

    i {
      font-size: 45px;
    }

    p {
      width: 70%;
    }
  }
}

::ng-deep {
  .states-dropdown {
    .p-dropdown {
      width: 100%;
    }
  }
}
