.product-wrapper {
  display: flex;
  gap: 16px;

  .product-item {
    display: block;
    width: 224px;
    height: 300px;

    .image-wrapper {
      display: flex;
      justify-content: center;
      height: 150px;

      background-size: cover;
      background-position: center;
    }

    .product-details {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
}

@media(max-width: 501px) {
  .product-wrapper {
    flex-wrap: wrap;
    justify-content: space-around;

    .product-link {
      width: 100%;
    }

    .product-item {
      width: 100%;

      .image-wrapper {
        width: 275px;
        height: 100%;
      }
    }
  }
}

::ng-deep {
  .product-item {
    .p-card {
      height: 100%;

      &-body {
        height: 100%;
      }

      &-content {
        padding: 0 !important;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }

  @media(max-width: 501px) {
    .product-item {
      .p-card {
        &-content {
          gap: 16px;
        }
      }
    }
  }
}
