<div *ngIf="!loading; else loadingComponent">
  <h1>Favoritos.</h1>
  <div class="product-wrapper">
    <span *ngIf="favoriteProductList?.length === 0">Você ainda não favoritou nenhum produto :(</span>
    <a *ngFor="let sku of favoriteProductList" [routerLink]="['/', 'product', sku.product.id]" [queryParams]="{ skuCode: sku.skuCode }">
      <p-card class="favorite-card">
        <div class="image-wrapper" [ngStyle]="{
            'background-image': getImageUrl(sku.product.mainImageUrl)
          }"></div>
        <div class="product-details">
          <span>{{ sku.name }}</span>
        </div>
      </p-card>
    </a>
  </div>
</div>

<ng-template #loadingComponent>
  <app-loading></app-loading>
</ng-template>
