<div *ngIf="!loading; else loadingComponent" class="order-wrapper">
  <div>
    <h1>Pedido.</h1>
    <h2>Número do pedido: {{order.id}}</h2>
  </div>

  <div>
    <div [routerLink]="['/', 'product', order.productList[0].product.id]"
      [queryParams]="{ skuCode: order.productList[0].skuCode }">
      <p-card class="order-product">
        <img [src]="order.productList[0].mainImageUrl" />
        <div>
          <h2>{{ order.productList[0].name }}</h2>
          <p>{{ order.productList[0].price | currency }}</p>
        </div>
      </p-card>
    </div>
  </div>


  <div class="order-data-information">
    <div>
      <h2>Endereço</h2>
      <p>{{customerData.firstName}} {{customerData.lastName}}</p>
      <p>{{order.shippingData.address.street}}, {{order.shippingData.address.number}}
      <p>{{order.shippingData.address.complement}}</p>
      <p>{{order.shippingData.address.neighborhood}}</p>
      <p>{{order.shippingData.address.city}}, {{order.shippingData.address.state}}
        {{order.shippingData.address.zipcode}}
      </p>
      <p>{{order.shippingData.address.country}}</p>
    </div>
    <div>
      <h2>Forma de pagamento</h2>
      <span>
        <strong>
          {{paymentMethods[order.paymentData.paymentMethod]}}
        </strong>
        com o final {{order.paymentData.paymentProperties.last4}}
      </span>

    </div>
    <div class="order-values">
      <h2>Resumo do pedido</h2>
      <div class="order-values-item">
        <span>Subtotal:</span>
        <span>
          {{order.paymentData.amount | currency}}
        </span>
      </div>

      <div class="order-values-item">
        <span>Frete:</span>
        <span>
          {{order.shippingData.freightPrice | currency}}
        </span>

      </div>
      <div class="order-values-item">
        <span>Total:</span>
        {{order.paymentData.amount + order.shippingData.freightPrice | currency}}
      </div>
    </div>
  </div>

  <div *ngIf="order.history">
    <h2>Status do pedido</h2>
    <p-steps [model]="orderHistory" [activeIndex]="activeHistoryOrder" [readonly]="true"></p-steps>
  </div>

  <div *ngIf="ratingFormValue.ratingFilled || order.history[activeHistoryOrder].status === 'ORDER_SHIPPED'">
    <h2>{{ratingFormValue.ratingFilled ? 'Avaliação do pedido' : 'Avalie seu pedido'}}</h2>
    <div>
      <form [formGroup]="form" (ngSubmit)="submitRatingForm()">
        <div class="stars-wrapper">
          <p-rating [stars]="5" [cancel]="false" formControlName="stars" class="rating-order"></p-rating>
          <p class="star-subtitle">{{RATING_TEXT[form.get('stars')?.value]}}</p>
        </div>

        <div *ngIf="form.get('stars')?.value !== 0">
          <div class="rating-form-wrapper">
            <label for="rating-text-field">
              {{ratingFormValue.ratingFilled ? 'Comentário' : 'Quer deixar um comentário?'}}
            </label>
            <textarea id="rating-text-field" rows="5" cols="35" pInputTextarea [autoResize]="true"
              formControlName="comment"></textarea>
          </div>

          <div>
            <button pButton pRipple [label]="!ratingFormValue.ratingFilled ? 'Enviar' : 'Enviado'"
              [disabled]="ratingFormValue.ratingFilled" class="p-button-success"></button>
          </div>
        </div>

      </form>
    </div>
  </div>
  <p-toast position="bottom-left"></p-toast>
</div>

<ng-template #loadingComponent>
  <app-loading></app-loading>
</ng-template>
