.card-container {
  margin: 4px;
  max-width: 300px;
  min-width: 230px;

  .root {
    padding: 12px;
    width: 100%;
    display: flex;
  }

  .card-image {
    height: 100px;
    background-size: cover;
    background-position: center;
  }

}

::ng-deep {
  .p-card-category {
    .p-card-body {
      padding: 0;

      .p-card-content {
        padding: 0;
      }
    }
  }
}
