.order-product {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    width: 7.5rem;
  }

  p {
    padding: 8px;
    margin: 0 auto;
    font-size: 14px;
  }

  h2 {
    font-size: 14px;
    margin: 0 0 16px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.order-values {
  display: flex;
  flex-direction: column;
  margin: 12px 0;

  &-item {
    margin: 4px 0;
  }
}

::ng-deep {
  .order-product {
    .p-card-content {
      display: flex;
      padding: 0 !important;
      align-items: center;
      gap: 16px;
    }
  }
  .rating-order {
    .p-rating-icon {
      font-size: 1.7rem;
    }
  }
}
