<div class="conclusion">
  <div class="title-wrapper">
    <i class="pi pi-check-circle"></i>
    <h1>Compra feita com sucesso.</h1>
    <span>Após a confirmação do pagamento, o seu pedido será enviado.</span>
  </div>

  <div>
    <ng-container *ngFor="let sku of selectedSkus">
      <div [routerLink]="['/', 'product', sku.product.id]" [queryParams]="{ skuCode: sku.skuCode }">
        <p-card class="selected-sku">
          <img [src]="sku.mainImageUrl" />
          <div>
            <h2>{{ sku.name }}</h2>
            <p>{{ sku.price.listPrice | currency }}</p>
          </div>
        </p-card>
      </div>
    </ng-container>
  </div>

  <div class="action-buttons">
    <button pButton pRipple type="button" label="Ir para meus pedidos." class="p-button-raised p-button-text"
      (click)="navigate('/order')"></button>
    <button pButton pRipple type="button" label="Ir para home." class="p-button-raised"
      (click)="navigate('/')"></button>
  </div>
</div>
