<div>
  <div>
    <div [routerLink]="['/', 'product', selectedSku.product.id]" [queryParams]="{ skuCode: selectedSku.skuCode }">
      <p-card class="selected-sku">
        <img [src]="selectedSku.mainImageUrl" />
        <div>
          <h2>{{ selectedSku.name }}</h2>
          <p>{{ selectedSku.price.listPrice | currency }}</p>
        </div>
      </p-card>
    </div>
  </div>
  <form [formGroup]="form" *ngIf="form" (ngSubmit)="onSubmit()">
    <div class="input-wrapper">
      <h2>Dados do usuário</h2>
      <div class="input-group">
        <div class="p-field">
          <label for="name">Nome</label>
          <input id="name" formControlName="name" pInputText />
        </div>
        <div class="p-field">
          <label for="name">Sobrenome</label>
          <input id="name" formControlName="surname" pInputText />
        </div>
      </div>
      <div class="p-field">
        <label for="name">CPF</label>
        <input id="name" formControlName="cpf" pInputText />
      </div>
      <div class="p-field">
        <label for="name">E-mail</label>
        <input id="name" formControlName="email" pInputText />
      </div>
      <div class="p-field">
        <label for="name">Telefone</label>
        <input id="name" formControlName="telephone" pInputText />
      </div>
    </div>

    <div class="input-wrapper">
      <h2>Endereço</h2>

      <div class="p-field">
        <label for="name">CEP</label>
        <input id="name" mask="00000-000" formControlName="zipCode" pInputText />
      </div>

      <div class="input-wrapper">
        <div class="input-group">
          <div class="p-field">
            <label for="name">Rua</label>
            <input id="name" type="text" formControlName="street" pInputText />
          </div>
          <div class="p-field">
            <label for="name">Numero</label>
            <input id="name" type="number" formControlName="number" pInputText />
          </div>
        </div>
        <div class="p-field">
          <label for="name">Bairro</label>
          <input id="name" type="text" formControlName="neighborhood" pInputText />
        </div>

        <div class="p-field">
          <label for="name">Complemento</label>
          <input id="name" type="text" formControlName="complement" pInputText />
        </div>
        <div class="input-group">
          <div class="p-field">
            <label for="name">Cidade</label>
            <input id="name" type="text" formControlName="city" pInputText />
          </div>
          <div class="p-field">
            <label for="name">Estado</label>
            <input id="name" type="text" formControlName="state" pInputText />
          </div>
        </div>
      </div>
    </div>

    <div class="button-wrapper">
      <button pButton pRipple type="button" label="Voltar" class="p-button-raised p-button-text"></button>
      <button pButton pRipple type="submit" label="Avançar" class="p-button-raised" [disabled]="!form.valid"></button>
    </div>
  </form>
</div>
