.product-wrapper {
  display: flex;
  gap: 16px;
  flex-direction: row;
  flex-wrap: wrap;

  p-card {
    display: block;
    width: 250px;
    height: 300px;

    .image-wrapper {
      height: 150px;

      background-size: cover;
      background-position: center;
    }

    .product-details {
      height: 70px;
    }
  }
}

::ng-deep {
  .order-card {
    .p-card {
      height: 100%;

      &-body {
        height: 100%;
      }

      &-content {
        padding: 0 !important;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }

}
