/* You can add global styles to this file, and also import other style files */
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  height: 100%;
  background-color: var(--surface-a);
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

.slick-list.draggable {
  height: 100% !important;
}

.slick-prev:before,
.slick-next:before {
  opacity: 1 !important;
  color: black !important;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .input-group {
    display: flex;
    gap: 16px;
  }

  .input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .field-checkbox {
    margin: 12px 0;
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .p-field * {
    display: block;
    width: 330px;
  }

  .button-wrapper {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}
