<div>
  <div *ngIf="!purchaseSuccess; else purchaseSuccessComponent">
    <p-steps [model]="items" [activeIndex]="step"></p-steps>
    <div class="steps-wrapper">
      <div class="step-content">
        <h1>Compra.</h1>
        <div [routerLink]="['/', 'product', selectedSku.product.id]" [queryParams]="{ skuCode: selectedSku.skuCode }">
          <p-card class="selected-sku">
            <img [src]="selectedSku.mainImageUrl" />
            <div>
              <h2>{{ selectedSku.name }}</h2>
              <p>{{ selectedSku.price.listPrice | currency }}</p>
              <p>Quantidade: {{ selectedSku.quantity }}</p>
            </div>
          </p-card>
        </div>
        <div [ngSwitch]="step">
          <app-personal-data *ngSwitchCase="0" (nextStepEvent)="nextStep()"></app-personal-data>
          <app-payment-data *ngSwitchCase="1" (backStepEvent)="backStep()"
            (nextStepEvent)="nextStep()"></app-payment-data>
          <app-order-summary *ngSwitchCase="2" (backStepEvent)="backStep()" (nextStepEvent)="nextStep()"
            (setPurchaseSuccessEvent)="setPurchaseSuccess($event)"></app-order-summary>
        </div>
      </div>
    </div>
  </div>

  <ng-template #purchaseSuccessComponent>
    <app-purchase-finished></app-purchase-finished>
  </ng-template>
</div>
